@page
@model WebApplication1.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
}
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>

    <div class="cart-container">
        @if (Model.ShoppingCartItems.Any())
        {
            @foreach (var item in Model.ShoppingCartItems)
            {
                <div class="card">
                    <h3 class="product-name">@item.ProductName</h3>
                    <p class="quantity">Cantitate: @item.Quantity</p>
                    <p class="price">Preț: @item.Price</p>
                    <form method="post" class="delete-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.ShoppingCartId" />
                        <button type="submit" asp-page-handler="StergereItem" class="delete-btn">
                            Ștergere Item
                        </button>
                    </form> 
                </div>
            }
        }
        else
        {
            <div class="empty-cart-message">
                <h2>Cosul este gol</h2>
                <p>Vizitați magazinul nostru pentru a adăuga produse.</p>
            </div>
        }
    </div>

    @if (Model.ShoppingCartItems.Any())
    {
        <div class="checkout-container">
            <div class="total-price">
            <h3>Total: <span>@Model.TotalPrice.ToString("C")</span></h3>
        </div>
        <form method="post" asp-page-handler="ApplyDiscount">
            <div class="discount-code">
                <label for="discount">Cod reducere:</label>
                <input type="text" id="discount" name="discountCode">
                    <button type="submit" asp-page-handler="ApplyDiscount" class="apply-discount">Aplică Reducerea</button>
            </div>
        </form>
        <div class="checkout-button">
                <form method="post" asp-page-handler="PlaceOrder">
                    @Html.AntiForgeryToken()
                    <button type="submit">Plaseaza comanda</button>
                </form>
        </div>
        </div>
    }


    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.SuccessMessage");
            };
        </script>
    }

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.ErrorMessage");
            };
        </script>
    }
</body>
